h1 {
    color: red;
    font-size: 60px;
  }
  
  .main {
    color: red;
    font-size: 30px;
    padding: 10px;
    border: 1px solid black;
  }
  
  img{
    height: 400px;
    width: 700px;
  }